{% extends base %}
{% load i18n %}{% load auth %}

{% block title  %}{{ _("Add suggested label") }}{% endblock %}
{% block header %}{{ _("Add suggested label") }}{% endblock %}

{% block content %}
	<form method="post">
		<table>
			{% include "form.html" %}
			<tr><td></td><td><input type="submit" value="{{ _("Add") }}"/></td></tr>
		</table>
	</form>
	{% if error %}
		{{ error_message }}
	{% endif %}
    <script type="text/javascript">
        document.getElementById('id_name').focus()
    </script>
{% endblock %}