{% extends base %}
{% load i18n %}{% load auth %}
{% block header %}{{ _("Pictures") }}{% endblock %}
{% block title %}{{ _("Pictures") }}{% endblock %}

{% block content %}
    <a class="button" href="/images/groups/{{ owner.id }}/sets/add"><img src="{{ MEDIA_URL }}commands/add.png" alt="" /> {{ _("Add image-set") }}</a>

    {% include "images/set_list.html" %}

    {% if not sets %}
        {% ifequal owner user %}
            {{ _("You have not saved any image sets yet.") }}<br /><br />
        {% else %}
            {{ _("There are no image sets here.") }}<br /><br />
        {% endifequal %}
    {% endif %}
    
	{% digg_paginator %}
{% endblock %}