{% extends "forums/base.html" %}
{% load i18n %}{% load auth %}

{% block title  %}{{ _("Create thread") }}{% endblock %}
{% block header %}{{ _("Create thread") }}{% endblock %}

{% block content %}
    <!-- {{ errors }} -->

    <form method="post">
        <table>
			{% include "form.html" %}
        	<tr><td></td><td><input type="submit" value="{{ _("Add") }}"/></td></tr>
		</table>
    </form>

    <script type="text/javascript">
        document.getElementById('id_name').focus()
    </script>
{% endblock %}