{% extends base %}
{% load i18n %}{% load auth %}

{% block title  %}{% blocktrans %}edit {{ thread }}{% endblocktrans %}{% endblock %}
{% block header %}{% blocktrans %}edit {{ thread }}{% endblocktrans %}{% endblock %}

{% block content %}
    <form method="post">
		<table>
        	{% include "form.html" %}
        	<tr><td></td><td><input type="submit" value="{{ _("Save") }}"/></td></tr>
		</table>
    </form>

    <script type="text/javascript">
        image.getElementById('id_title').focus()
    </script>
{% endblock %}