.unread {background: #ACF;}
.metadata {padding:5px;}

.tab_control
{
    height:60px;
}

ul.tabs
{
	list-style-type: none;
	margin: 0;
	padding:10px 0px 0;
	float:left;
	width:100%;
	position:relative;
	top:-35px;
	background: url("background.gif") repeat-x bottom;
}

ul.tabs li
{
	display: inline;
	border-bottom:0;
	margin:0;
	background:url("left.gif") no-repeat left top;
	padding:0 0 0 9px;
	float:left;
}
ul.tabs li a
{
	font-size: 13px;
	padding:5px 15px 4px 6px;
	background:url("right.gif") no-repeat right top;
	float:left;
	display:block;
}

.tabs a:link {text-decoration:none; }
.tabs a:visited {text-decoration:none; }
.tabs a:active {text-decoration:none; }
.tabs a:hover {text-decoration:none; }

.tab_content
{
    position:relative;
    top:32px;
    padding: 5px 15px;
    border: 1px solid #776655;
    border-top:0;
    background: #bedeee;
}

/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
ul.tabs a {float:none;}
/* End IE5-Mac hack */
ul.tabs a:hover
{
}

ul.tabs .current
{
    background-image:url("left_current.gif");
}

ul.tabs .current a {
    background-image:url("right_current.gif");
    padding-bottom:5px;
    color: black;
}