{% extends base %}
{% load i18n %}{% load auth %}

{% block title %}{{ _("User agreement - administrator") }}{% endblock %}
{% block header %}{{ _("User agreement - administrator") }}{% endblock %}

{% block content %}

        <h3>Administratörsavtal</h3>
		<p>Eldmyra.se drivs av Metheus (ek. för), och följande regler gäller för alla sidor under eldmyra.se. I texten benämns dessa sidor enbart som Eldmyra. Genom att skapa en grupp på Eldmyra så förbinder du dig till att följa dessa regler.</p>

		<h4>Vilkor för administratörer</h4>

		<p>När du skapar en egen grupp på Eldmyra så bli du ansvarig administratör över denna grupp. Detta innebär att du ansvarar för det som skrivs och laddas upp i gruppen i enlighet med lagen om offentliga anslagstavlor. Det innebär också att du skall se till att gruppens innehåll inte bryter mot några av Eldmyras regler eller mot svensk lag.</p>

		<p>För att kunna kontrollera gruppens innehåll får du som administratör ta bort och i vissa fall ändra information som skapats av andra användare. Du kan även tillsätta extra administratörer som hjälper dig att hålla ordning, men det är ditt ansvar att se till att dessa personer sköter sig. Du kan även själv sätta valfria extra-regler till din grupp, så länge som dessa inte bryter mot övriga regler på Eldmyra.</p>

		<p>Vi förbehåller oss rätten att om anledning föreligger kontrollera så att inga grupper används på ett sätt som bryter mot dessa regler. Grupper som anses bryta mot de uppsatta reglerna eller som på annat sätt anses vara olämpliga kommer att tas bort, och vid olagliga aktiviteter kan information lämnas ut till lämpliga myndigheter.</p>

		<p>Dessa användaravtal kan ändras om vi anser att det finns anledning till att göra det. Om ändringar är av sådan karaktär att användandet av Eldmyra förändras på ett betydande sätt kommer detta att meddelas till användarna.</p>

{% endblock %}